@import "tailwindcss";

html,
body {
  width: 400px;
  height: 600px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
  font-family: "Lexend";
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Choose a different color theme? */
@theme {
  --color-text: #e5ddd9;
  --color-secondary-text: #929ba8;
  --color-background: #0c1422;
  --color-secondary-background: #171c2e74;
  --color-secondary: #034d9b;
  --color-accent: #9798a99e;
  --color-box-outline: #0f121e86;
  --color-block: #b91717;
  --color-warn: #f49f38;
}

:root {
  --theme-hue: 214;
  --color-primary: hsl(var(--theme-hue) 100% 55%);
  --color-primary-light: hsl(var(--theme-hue) 100% 75%);
  --color-primary-dark: hsl(var(--theme-hue) 100% 30%);
  --color-primary-background: hsla(var(--theme-hue) 45% 7%);
  --color-primary-text: hsla(var(--theme-hue) 18% 86%);
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-down {
  animation: slideDown 1s ease-in-out forwards;
}

.animate-slide-in-right {
  animation: slideInRight 1s ease-in-out forwards;
}
