@import "tailwindcss";

html,
body {
  width: 350px;
  height: 500px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

* {
  font-family: "Lexend";
}

/* Choose a different color theme? */
@theme {
  --color-text: #d6dee8;
  --color-secondary-text: #929ba8;
  --color-background: #0c1422;
  --color-secondary-background: #171c2e74;
  --color-primary: #227ffa;
  --color-secondary: #034d9b;
  --color-accent: #9798a99e;
  --color-box-outline: #0f121e86;
}
